Discorde.zip
Discorde/.vscode
Discorde/Library
Discorde/Logs
Discorde/Packages
Discorde/Temp
Discorde/UserSettings
Discorde/Assembly-CSharp.csproj
Discorde/Assembly-CSharp-Editor.csproj
Discorde/Discorde.sln